@model VideoClub.Models.ClientesViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo Cliente</h2>

@using (Html.BeginForm("Guardar", "Clientes"))
{

    @Html.ValidationSummary(true, "Por favor corrija los siguientes errores:")
    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.Nombre, "Nombre:")
        @Html.TextBoxFor(m => m.Cliente.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.Nombre)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.TipoMembresiaId, "Tipo de membresía:")
        @Html.DropDownListFor(m => m.Cliente.TipoMembresiaId,
       new SelectList(Model.TipoMembresias, "Id", "Nombre"),
       "Seleccione tipo de membresía",
       new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.TipoMembresiaId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cliente.FechaNacimiento)
        @Html.TextBoxFor(m => m.Cliente.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.FechaNacimiento)
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Cliente.EstaSuscritoNoticias) Está suscripto a las noticias?
        </label>

    </div>



    @Html.HiddenFor(m => m.Cliente.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Guardar</button>


}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}