@model VideoClub.Models.ClientesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<button class="btn btn-primary">@Html.ActionLink("Nuevo CLiente", "Nuevo", "Clientes", null, new { style = "text-decoration:none;color:white;" })</button>
<br />
<br />

<table id="clientes" class="table table-bordered table-hover">
    <thead>
        <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Tipo de Membresía</th>
            <th scope="col">Tasa de Descuento</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var cliente in Model.Clientes)
        {
            <tr>

                <td>@Html.ActionLink(cliente.Nombre, "Editar", "Clientes", new { Id = cliente.Id }, null)</td>
                <td>@cliente.TipoMembresia.Nombre</td>
                <td>@cliente.TipoMembresia.TasaDescuento %</td>

                <td> <button data-cliente-id="@cliente.Id" class="btn btn-link js-eliminar">Eliminar</button>  </td>

            </tr>
        }


    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#clientes .js-eliminar").on("click", function () {
                var boton = $(this);

                bootbox.confirm("¿Está seguro de eliminar a este cliente?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/api/clientes/" + boton.attr("data-cliente-id"),
                            method: "DELETE",
                            success: function () {
                                boton.parents("tr").remove();
                            }

                        });

                    }
                });


            });

        });

    </script>


}